header{
  width: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.head1{
width: 45%;

margin-left: 0%;
height: auto;
display: block;

}
.head1 img{
width: 20%;

}
.head2{
width:55%;

text-align:left;

}



.banner{
  width: :90%;
  margin:2% auto;
box-sizing: border-box;
}
.banner img{
  width: 100%;
  height: auto;
}
.container{
  display: flex;
  width: 94%;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 3%;
}
.container1{
  width: 47%;

}
.container1 img{
  width: 100%;
  height: auto;
}

.container2 img{
width: 100%;
height: auto;
}
.container2{
  width: 31.33%;
}
.containerpro{
  display: flex;
  width: 94%;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 3%;
}
.container3{
  width: 23.5;
  }
.container3 img{
  width: 100%;
  height: auto;
}
@media only screen and (min-width:320px) and (max-width:767px){
  .containerpro{
    display: flex;
    width: 94%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0% auto;
  }
.container3{
    width: 100%;
    }
  .container3 img{
    width: 100%;
    height: auto;
  }

  header{
    width: 100%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .head1{
  width: 100%;

  margin-left: 0%;
  height: auto;
  display: block;


  }
  .head1 img{
  width: 30%;
 align-content: center;


  }
  .head2{
  width:100%;
text-align:center;

  }

}
@media only screen and (min-width:768px) and (max-width:1023px){
  .containerpro{
    display: flex;
    width: 94%;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    margin: 0% auto;
    flex-wrap: wrap;
  }
.container3{
    width: 47%;
    }
  .container3 img{
    width: 100%;
    height: auto;
  }
  .container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    margin: 0% auto;
  }
  .container1{
    width: 50%;

  }
  header{
    width: 100%;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .head1{
  width: 50%;

  margin-left: 0%;
  height: auto;
  display: block;


  }
  .head1 img{
  width: 30%;
 align-content: flex-end;
 text-align: right;


  }
  .head2{
  width:100%;
text-align:left;

  }


}
